@import "tailwindcss";

:root {
  /* Colors */
  --background: #141A24;
  --navy: #062A68;
  --blue: #175E9C;
  --purple: #760AF4;
  --white: #FEFCED;

  /* Text styles */
  --text-color: var(--white);
  --text-size-large: 2.25rem;
  --text-size-normal: 1.125rem;

  /* Fonts */
  --font-primary: 'Outfit', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.25rem;
  color: var(--text-color);
}

h2 {
  font-size: 1.875rem;
  color: var(--text-color);
}

h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

h4 {
  font-size: 1.25rem;
  color: var(--text-color);
}

h5 {
  font-size: 1.125rem;
  color: var(--text-color);
}

h6 {
  font-size: 1rem;
  color: var(--text-color);
}

p {
  font-size: 1rem;
  color: var(--text-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141a24;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
